/* Judy.css */

.custom-button {
    background-color: black; /* Change background color to black */
    border: none;
    color: gold; /* Change text color to gold */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .custom-button:hover {
    background-color: #333; /* Darken background color on hover */
  }
  
